<%= form_for [@train, @railway_carriage] do |f| %>
  <%= render 'common/errors', resource: @railway_carriage %>

  <div class="field carriage_type">
    <%= select_tag(:type, options_for_select($CARRIAGE_TYPES)) %>
  </div>

  <div class="field top_seats seats">
    <%= f.label :seats_up %><br>
    <%= f.number_field :seats_up %>
  </div>

  <div class="field bottom_seats seats">
    <%= f.label :seats_down %><br>
    <%= f.number_field :seats_down %>
  </div>

  <div class="field side_top_seats seats">
    <%= f.label :side_seats_up %><br>
    <%= f.number_field :side_seats_up %>
  </div>

  <div class="field side_bottom_seats seats">
    <%= f.label :side_seats_down %><br>
    <%= f.number_field :side_seats_down %>
  </div>

  <div class="field econom_seats seats">
    <%= f.label :sitting_seats %><br>
    <%= f.number_field :sitting_seats %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<%end %>
