<%= form_for(@train) do |form| %>
  <%= render "common/errors", resource:@train %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
    <%= form.collection_select :current_station, RailwayStation.all, :id, :title %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
