<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
  <strong>Current station:</strong>
  <%= @train.current_station.title %>
  <% if @train.route_id.present? %>
    <strong>Current route: </strong>
    <%= @train.route.name %>
    <% else %>
   <strong> Unknown </strong>
  <%end %>
</p>

<!--<p>-->
  <%#@train.railway_carriages.group(:carriage_type).count.each_pair do |key,value| %>
<!--    <strong><%#=key %></strong>-->
<!--    <strong><%#=value %></strong>-->
  <%#end %>
<!--</p>-->


<!--  Free comartment seats:-->
<!--  UP: <%#=@train.railway_carriages.where("carriage_type = 'compartment'").sum(:seats_up) %>-->
<!--  DOWN: <%#=@train.railway_carriages.where("carriage_type = 'compartment'").sum(:seats_down) %><br/>-->
<!--  Free reverseve seats:-->
<!--  UP: <%#=@train.railway_carriages.where("carriage_type = 'reverseve_seat'").sum(:seats_up) %>-->
<!--  DOWN: <%#=@train.railway_carriages.where("carriage_type = 'reverseve_seat'").sum(:seats_down) %>-->

<p>
  <% if @train.railway_carriages.empty?%>
    Пусто
    <%else%>

    <% if @train.sorted %>
      <% @train.railway_carriages.order('number DESC').each do |carriage| %>
        <li><%=link_to "Carriage N.o #{carriage.number}", railway_carriage_path(carriage) %></li>
      <%end %>

    <%else %>
      <% @train.railway_carriages.order('number ASC').each do |carriage| %>
        <li><%=link_to "Carriage N.o #{carriage.number}", railway_carriage_path(carriage) %></li>
      <%end %>
    <%end %>

  <%end %>



<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
