<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
  <strong>Current station:</strong>
  <%= @train.current_station.title %>
  <% if @train.route_id.present? %>
    <strong>Current route: </strong>
    <%= @train.route.name %>
    <% else %>
   <strong> Unknown </strong>
  <%end %>
</p>
<p>

</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
