
<%= form_with(model: customer, local: true) do |form| %>
  <%= render 'common/errors', resource: @customer %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>


  <div class="actions">

    <%= form.submit %>
  </div>


<% end %>
