<p id="notice"><%= notice %></p>
<% @ticket = Ticket.find(params[:id]) %>

<h1>Ticket</h1>

<strong>Train number:</strong>
<%= @ticket.train_id %>

<strong>First station:</strong>
<%= @ticket.first_station.title %></br>

<strong>Last station:</strong>
<%= @ticket.last_station.title %></br>

<strong>Customer:</strong>
<%= @ticket.customer_name %>




