<p id="notice"><%= notice %></p>

<p>
  <strong>Route Name</strong>
  <%= @route.name%>
</p>

<p>
  <strong>Список станций на маршруте:</strong>
</p>

<p>
  <% if @route.railway_stations.empty? %>
  Список пуст
    <% else %>
      <ul>
        <%@route.railway_stations.each do |station|   %>
        <li><%= station.title %></li>
        <% end %>
      </ul>
  <%end %>

<p>
  <strong>Список поездов на маршруте:</strong>
</p>

<p>
  <% if @route.trains.empty? %>
    Поездов нет
  <% else %>
  <ul>
    <%@route.trains.each do |train|   %>
      <li><%= train.number %></li>
    <% end %>
  </ul>
<%end %>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
